.madre {
    display: flex;
    justify-content: center;
}

.CUADRO {
    border-width: 1px;
    border-style: solid;
    border-color: #C2C2C2;
    
}
.margen{
    margin-left: 10px;
}
img {
    margin-bottom: 10px;
  }
  